#main-nav-bar {
    border: 5px solid black;
    text-align: center;
    background-color: black;
    overflow: hidden;
}

#main-nav-bar h1{
    float: left;
    color: white;
}

#main-nav-bar a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: x-large;
}

#splash-container{
    display: flex;
}

#name-of-website {
    border: 5px solid black;
    text-align: center;
    width: 200px;
    margin: 10px;
}

#website-logo {
    border: 5px solid black;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#brief-description {
    border: 5px solid black;
    width: 300px;
    height: 250px;
    margin: 10px;
}

#info-container{
    border: 5px solid black;
    height: 50vh;
}